*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    display: flex;
    justify-content: end;
    background-image: url("../images/banner/banner1.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.header-text{
    padding: 150px;
    width: 300px;
    text-align: end;
}

header h1{
    font-weight: 700;
    font-size: 40px;
}
header p{
    margin-top: 25px;
    font-size: small;
}

#header-btn{
    margin-top: 25px;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    background: #F15B22;
    border: none;
    border-radius: 5px;
}

.main-body{
    margin: 10%;
}

.failure-section{
    display: flex;
    align-items: center;
}

.img-person{
    margin-right: 150px;
}

.failure-text h2{
    margin-bottom: 20px;
}


.icon{
    color: rgb(5, 202, 5);
    font-size: 18px;
    margin-top: 20px;
}